a {
    color: thistle;
}

.jumbotronHeading{
    color: #ffffff;
    font: 900;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    padding-top: 50px;
    margin-left: 50px;
}

.jumbopara {
    color: #ffffff;
    font: 300;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 200px;

}

.banner{
    background: linear-gradient(-90deg,  #E38C8A, #c2a5fa, #8AD8E3);
    animation: gradientBG 10s ease infinite;
    height: 40vw;
    background-size: 400% 400%;
    display: flex;

}

@keyframes gradientBG{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.banner-projects {
    background: #ffffff;
}
.banner-projects div image{
    display: flex;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }



.workTiles{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    
}




.Tiles-eff {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    height: 50%;
    text-align: center;
    
    
}


.lineDiv{
    width: 2px;
    height: 1000px;
    background-color: black;
    margin-left: 5%;
}
.navbar {
    height: 100px;
}

.nav-text{
    color: #707070;
    font: 300;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;

}
.connect-btn{
    background-color: transparent;
    border: 4px solid white;
    width: 250px;
    height: 50px;
    position: absolute;
    top: 75%;
    left: 40%;
    
    
}
.connect-btn h3{
    color: #ffffff;
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 5px;

    
}
.workTiles h3{
    color: #707070;
    font: 300;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    padding-top: 10px;
}

.workTiles h4{
    color: #707070;
    font: 300;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
}

.mt5-text{
    color: #707070;
    font: 300;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    
}
.imag-size{
    width: 65%;
    height:65%
}

.resume {
    align-self: baseline;
    margin-left: 10px;
}

.workTiles div p{
    margin-right: 40px;
    padding-top: 10px;
}
.corner {
    margin-left: 10px;
    padding-left: 10px;
    align-self: baseline;
    -moz-box-align: end;
}
.workTiles-resume h1{
    color: #c2a5fa;
    font: 300;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}
.resume-size{
    width: 60%;
    height:60%;
    margin-left: 10px;
    box-align: -5px;
    
}
.btn:hover {
    background-color: #dbccff;


}


.Tiles-eff:hover{
    background-color: #dbccff;


}
.connect-btn:hover{
    background-color: #dbccff;
    fill-opacity: 50%;
}

.logo {
    margin-left: -100px;
    padding-left: 10px;
    box-align: -50px;
}
.myicon {
    margin-right: 200px;
    padding-right: 10px;
    box-align: 250px;
    margin-top: 80px;

}
.contact {
    display: flex;
    padding-bottom: 2vw;

    
}
.contact div a{
    color: #000000;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
}

.workTiles-projects {
    display: contents;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 5vw;

}

.workTiles-projects div p{
    padding-bottom: 1vw;
}

.workTiles-projects div a{
    display: flex;
}